<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goGroups()">
      <ion-icon color="secondary" style="zoom:1.4;" name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="goWeekly()">
      <ion-icon color="secondary" style="zoom:1.4;" name="book-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  (click)="goHome()" class="tab"> 
      <div>
        <img src="assets/imgs/logotab.png" class="avatarm">
      </div>
    </ion-tab-button>

    <ion-tab-button  (click)="goResources()"> 
      <ion-icon color="secondary" style="zoom:1.4;" name="mail-open-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  (click)="goSos()"> 
      <ion-icon color="secondary" style="zoom:1.4;" name="megaphone-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>