<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-row >
    <ion-col class="ion-no-padding" >
      <ion-card class="ajustes">
        <img src="assets/imgs/pago.png">
      </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card class="ajustes1">
          <img src="assets/imgs/pago1.jpg">
        </ion-card>
        </ion-col>
    </ion-row>

    <p class="color">Numero de Tarjeta</p>
    <ion-item  class="ajustes2" >
      <ion-input  mode="ios" placeholder="**** **** **** ****"></ion-input>
    </ion-item>
    
    <p class="color">Fecha de Vencimiento</p>
    <ion-item  class="ajustes3" >
      <ion-input  mode="ios" placeholder="Mes/Año"></ion-input>
    </ion-item>
     
    <p class="color1">CVV</p>
    <ion-item  class="ajustes4" >
      <ion-input  mode="ios"></ion-input>
    </ion-item>
   
    <p class="color">Nombre de la Tarjeta</p>
    <ion-item  class="ajustes2" >
      <ion-input mode="ios" placeholder="Nombre de la tarjeta"></ion-input>
    </ion-item>


    <div class="change">
      <ion-button color="secondary" class="change2" mode="ios" (click)="vamos()">CONFIRMAR</ion-button>
    </div>

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
