.title {
    color: var(--ion-color-main);
    font-family: Montserrat !important;
    // font-weight: bold;
    font-size: 18px;
  }

  .ajustes{
    border-radius: 15px;
    width: 200px;
    height: 110px;
    margin-top: 50px;
    margin-right: 150px;
  }

  .ajustes1{
    border-radius: 15px;
    width: 150px;
    height: 110px;
    margin-left: 230px;
    margin-top: -120px;
  }

  .ajustes2{
    height: 50px;
   
  }

.ajustes3{
  height: 50px;
  width: 160px;

}

.ajustes4{
  height: 50px;
  width: 160px;
  margin-left: 220px;
  
}

.color{
  color: #d28b5f;
  font-family: Montserrat !important; 
}

.color1{
  color: #d28b5f;
  font-family: Montserrat !important; 
  margin-left: 220px;
  margin-top: -85px;
}


.change{
  margin-left: 140px;
  margin-top: 20px;
  
}

.change2{
  color: white;
  font-family: Montserrat !important;
}




