<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <div class="ion-text-center">
    <p class="color">APOYA A UNA NOBLE CAUSA</p>
  <p class="tamaño">Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
  <p class="tamaño1">elit, sed diam nonummy nibh euismod tincidunt ut</p>
  </div>
    <ion-row class="row">
      <ion-col size="10" class="center">
        <div class="position">
          <img src="assets/imgs/donacion.png">
        </div>
        </ion-col>
        </ion-row>
    <div class="ion-text-center">  
    <p class="color1">Gracias por apoyarnos</p>   
  </div>     
  <br>
<div class="color">
    <ion-button mode="ios" class="ajustes" color="secondary" (click)="goPago()"><p class="color3">DONAR</p></ion-button>
</div>

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>