.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-weight: bold;
  font-size: 18px;
}

.color {
  color: #657c95;
  font-weight: bold;
  font-size: 15;
}

.color1 {
  color: #657c95;
  font-weight: bold;
  font-size: 15;
}

.color3 {
  color: white;
}

.tamaño {
  font-size: 10px;
  color: #d29782;
  font-family: Montserrat;

}

.tamaño1 {
  font-size: 10px;
  color: #d29782;
  font-family: Montserrat;

}

.position {
  margin-left: 70px;
  margin-top: 50px;

}

.ajustes {
  font-size: 16px;
  margin-left: 110px;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  font-family: Montserrat;
}
