// ion-content {
//   --ion-background-color: #111d12;
// }

.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}


.card {
  margin: 0;
  border-radius: 10px;
  height: 180px !important;

  .multimediaCards {
    // margin-top: 25px;
    box-shadow: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    // filter:brightness(0.8);
  }

  .card-title2 {
    font-family: Montserrat !important;
    position: absolute;
    top: 80%;
    margin-left: 10px;
    font-size: 20px;
    width: 100%;
    color: white;
    // text-align: center;
    // align-items: center;
  }

  .card-black {
    font-family: Montserrat !important;
    position: absolute;
    top: 80%;
    margin-left: 10px;
    font-size: 20px;
    width: 100%;
    color: black;
    // text-align: center;
    // align-items: center;
  }

  .card-subtitle2 {
    background: white;
    width: 100%;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 57%;
    color: black;
    text-align: center;
  }
}

.divclass {
  background-color: black;
  height: 100% !important;
  width: 100% !important;
  padding: 0px;
}

.slider_div {
  ion-slide {
    // height: 65vh;

    .div_slide {
      margin-bottom: 8%;

      .slider_img {
        // margin-top: 15px;
        width:500px !important;
        border-radius: 25px;
        filter: brightness(0.8);
      }

      .head_lbl {
        color: white;
        font-size: 24px;
        font-weight: bold;
        display: block;
        text-align: center;
        // margin-top: 10px;
        font-family: Montserrat !important;
      }

      .small_lbl {
        color: #ffffff;
        font-size: 15px;
        // margin-top: 40px;
        text-align: justify;
        font-family: Montserrat !important;
      }
    }
  }
}

.col {
  padding: 5px;
}


.slidecss {
  // margin-top: 5px;

  .card2 {
    margin: 5px;
    height: 125px !important;
    display: flex;
    flex-direction: column;
    width: 400px;

    .multimediaCards2 {
      // margin-top: 25px;
      box-shadow: 0 !important;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      border-radius: 20px;
      background: transparent;
      filter: brightness(0.8);
    }

    .card-title22 {
      font-family: Montserrat !important;
      position: absolute;
      top: 45%;
      font-size: 20px;
      width: 100%;
      color: white;
      text-align: center;
      align-items: center;
    }

    .card-black {
      font-family: Montserrat !important;
      position: absolute;
      top: 45%;
      font-size: 20px;
      width: 100%;
      color: black;
      text-align: center;
      align-items: center;
    }

    .card-subtitle22 {
      background: white;
      width: 100%;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      top: 57%;
      color: black;
      text-align: center;
    }
  }
}

::ng-deep.swiper-pagination-bullet-active {
  background: transparent !important;
}

::ng-deep.swiper-pagination-bullet {
  background: transparent !important;
}