<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      RECURSOS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="6" class="col">
      <ion-card class="card" (click)="goPodcast()">
        <img src="{{imgPodcast}}" class="multimediaCards">
        <div class="card-title2">Podcasts</div>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-card class="card" (click)="goVideo()">
        <img src="{{imgVideo}}" class="multimediaCards">
        <div class="card-black">Videos</div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="col">
      <ion-card class="card" (click)="goService(servicio)">
        <img src="{{imgEstudios}}" class="multimediaCards" (click)="goEstudios()">
        <div class="card-title2">Estudios</div>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-card class="card" (click)="goService(servicio)">
        <img src="{{imgMusica}}" class="multimediaCards">
        <div class="card-title2">Música</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="slider_div">
    <ion-slides mode="ios" pager="ios" [options]="slideOpts">
      <ion-slide class="slidecss">
        <ion-card class="card2" (click)="goSerie()">
          <img class="slider_img" src="assets/tempres/res.jpg">
          <div class="card-title22">Ya tomaste tu cruz?</div>
        </ion-card>
      </ion-slide>

      <ion-slide class="slidecss">
        <ion-card class="card2" (click)="goSerie()">
          <img class="slider_img" src="assets/tempres/res3.jpg">
          <div class="card-black">Maranatha</div>
        </ion-card>
      </ion-slide>

      <ion-slide class="slidecss">
        <ion-card class="card2" (click)="goSerie()">
          <img class="slider_img" src="assets/tempres/res2.jpg">
          <div class="card-title22">Maranatha</div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="slider_div">
    <ion-slides mode="ios" pager="ios" [options]="slideOpts">
      <ion-slide class="slidecss">
        <ion-card class="card2" (click)="goSerie()">
          <img class="slider_img" src="assets/tempres/res.jpg">
          <div class="card-title22">Ya tomaste tu cruz?</div>
        </ion-card>
      </ion-slide>

      <ion-slide class="slidecss">
        <ion-card class="card2" (click)="goSerie()">
          <img class="slider_img" src="assets/tempres/res2.jpg">
          <div class="card-black">Maranatha</div>
        </ion-card>
      </ion-slide>

      <ion-slide class="slidecss">
        <ion-card class="card2" (click)="goSerie()">
          <img class="slider_img" src="assets/tempres/res3.jpg">
          <div class="card-black">Maranatha</div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<ion-toolbar>
  <app-tabres></app-tabres>
</ion-toolbar>
