<ion-menu side="start" menuId="first" type="overlay">
  <ion-header no-border>
    <ion-toolbar>
      <ion-title class="textomenu"> MENU </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <div class="ion-text-center">
      <br>
      <img src="assets/imgs/logotab.png" class="avatarm">
      <!-- <p class="nombrePerfil">Un corazón más</p> -->
    </div>
    <br>
    <ion-list class="listSide">
      <ion-menu-toggle auto-hide="false">
        <ion-item (click)="goProfile()">
          <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
          <ion-label class="colorLbl"> Perfil </ion-label>
        </ion-item>
        <ion-item (click)="goDonation()">
          <ion-icon color="primary" slot="start" name="diamond-outline"></ion-icon>
          <ion-label class="colorLbl"> Apoya a una causa </ion-label>
        </ion-item>
        <!-- <ion-item (click)="goContact()">
          <ion-icon color="primary" slot="start" name="call-outline"></ion-icon>
          <ion-label class="colorLbl"> Contáctanos </ion-label>
        </ion-item> -->
        <ion-item (click)="goOut()">
          <ion-icon color="primary" slot="start" name="power" slot="start"></ion-icon>
          <ion-label class="colorLbl"> Salir </ion-label>
        </ion-item>
  
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>