.textomenu {
  text-align: center;
  color: var(--ion-color-main);
}

.avatarm {
  // height: 110px;
  width: 50%;
  // border: 1px solid #fff;
  // border-radius: 50%;
  display: inline-block;
  // margin-left: 32%;
  // margin-right: 30%;
}

.nombrePerfil {
  margin-top: 5px;
  text-align: center;
  color: var(--ion-color-main);
}


.listSide {
  padding: 0%;
}

.colorLbl {
  color: var(--ion-color-main);
  font-weight: 900;
  font-family: Montserrat !important;
}
