<ion-content scroll-y="false">
  <div class="main_content_div">
    <div class="button_div">
      <ion-button fill="clear" class="fontMont" color="danger" slot="end" (click)="goToLogin()">
        Iniciar sesión
      </ion-button>
    </div>

    <div class="slider_div">
      <ion-slides mode="ios" pager="ios">
        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/logotab.png"><br><br>
            <ion-label class="head_lbl">Titulo 1</ion-label>
            <ion-label class="small_lbl">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque expedita est laboriosam saepe repellat vel?
            </ion-label>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/logotab.png"> <br><br>
            <ion-label class="head_lbl">Titulo 2</ion-label>
            <ion-label position="fixed" class="small_lbl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perspiciatis ex laborum obcaecati repudiandae nulla, dolores fugit earum eligendi esse!
            </ion-label>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/logotab.png"><br><br>
            <ion-label class="head_lbl">Titulo 3</ion-label>
            <ion-label class="small_lbl">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores exercitationem adipisci vero ullam eligendi quibusdam dolor quod, accusamus vel? Iusto.
            </ion-label>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="bottom_btn_div">
      <ion-button (click)="goToRegister()" expand="full" shape="round" class="red_btn">
        <ion-label class="white">
          Crear cuenta
        </ion-label>
      </ion-button>

      <!-- <div class="ion-text-center"> -->
        <ion-button expand="full" fill="outline" shape="round" class="fbbutton" (click)="fbLogin()">
          <ion-label class="blue">
            Facebook
          </ion-label>
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
        </ion-button>
      <!-- </div> -->

     <!-- <ion-button expand="full" fill="outline" shape="round" color="danger" class="gglbutton" (click)="loginGoogleAndroid()">
        <ion-label class="black">
          Continuar con Google
        </ion-label>
        <ion-icon slot="start" name="logo-google"></ion-icon>
      </ion-button> -->

      
      <!-- <div> -->
        <ion-button expand="full" fill="outline" shape="round" color="dark" class="applebtn" (click)="AppleSignIn()">
          <ion-label class="black">
            Apple
          </ion-label>
          <ion-icon slot="start" name="logo-apple"></ion-icon>
        </ion-button> 
      <!-- </div> -->
    </div>

  </div>
</ion-content>