
::ng-deep.swiper-pagination-bullet-active {
  background: var(--ion-color-main);
}

.main_content_div {
  width: 100%;
  padding: 20px;
  position: relative;
  height: 100%;

  .button_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: open-regular;
  }

  .slider_div {
    ion-slide {
      // height: 65vh;

      .div_slide {
        margin-bottom: 8%;

        .slider_img {
          margin-top: 15px;
          width: 60%;
        }

        .head_lbl {
          color: black;
          font-size: 24px;
          font-weight: bold;
          display: block;
          text-align: center;
          // margin-top: 10px;
          font-family: Montserrat !important;
        }

        .small_lbl {
          color: black;
          font-size: 15px;
          // margin-top: 40px;
          text-align: justify;
          font-family: Montserrat !important;
        }
      }
    }
  }

  .bottom_btn_div {
    position: absolute;
    bottom: 20px;
    width: 90%;
    
    .red_btn {
      --background: var(--ion-color-main);
      // height: 35px;
      height: 45px;
      width: 60%;
      --background-activated: #fa3902;
      margin-left: 20%;
    }

    .fbbutton {
      margin-top: 10px;
      color: rgb(36, 106, 211);
      // height: 35px;
      height: 45px;
      width: 60%;
      margin-left: 20%;
      --background-activated: #F1F0F6;
    }

    .applebtn {
        margin-top: 10px;
        color: black;
        // height: 35px;
        height: 45px;
        width: 60%;
        margin-left: 20%;
        --background-activated: #F1F0F6;
    }

    .gglbutton {
      margin-top: 10px;
      height: 35px;
      margin-left: 20%;
      --background-activated: #F1F0F6;
    }
  }
}

.swiper-slide img {
  width: auto;
  max-width: 110%;
  height: auto;
  max-height: 100%;
}

.blue{
    color: rgb(107, 160, 240);  
    font-family: Montserrat !important;
}

.black {
  color: black;
  font-family: Montserrat !important;
}

.white{
    color: white;
    font-family: Montserrat !important;
}

.swiper-pagination {
  bottom: 40px;
  left: 0;
  width: 100%;
}

.menu_img {
  width: 25px;
}


.fontMont{
  font-family: Montserrat !important;
}