<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS QUE ADORAN
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padd">
    <img class="logosalud" src="assets/imgs/adora2.png">
    <br>
    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Mis interacciones con mis compañeros estuvieron
          fundamentadas en el amor.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Las incomodidades u ofensas provocadas por otros los
          manejé con paciencia.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Busqué mi propio bien antes que el de los demás. Me sentí bien 
          haciendolo.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          He encontrado fácil perdonar a alguien cuando me ofende.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Me sentí bien ayudando a esa persona que solicitó mi ayuda.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>
    <div class="ion-text-center">
      <ion-icon routerLink="/latadoran3" style="zoom:2.2;" color="primary" name="chevron-forward-circle"></ion-icon>
    </div>

  </div>

</ion-content>

<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>