.padd {
  padding: 0px 45px 15px 45px;
}

.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.logosalud {
  width: 330px;
  display: block;
  margin: auto;
}

.label {
  font-size: 13px;
  font-family: Montserrat !important;
  color: var(--ion-color-main);
}
