<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
    <img class="logo" routerLink="/latadoran" src="assets/imgs/logotab.png"> <br>
    <img class="logosalud" src="assets/imgs/salud.png"> <br> <br>

  <div class="ion-text-center"> 
    <ion-button routerLink="/latclaman" mode="ios" class="red_btn"> &nbsp;
      <img class="imgbtn" src="assets/imgs/clama.png"> &nbsp; &nbsp;
      <span class="span">Latidos que claman</span>
     </ion-button>
     <ion-button routerLink="/latfe" mode="ios" class="red_btn"> &nbsp;
      <img class="imgbtn" src="assets/imgs/fe.png"> &nbsp; &nbsp;
      <span class="span">Latidos de fé</span>
     </ion-button>
     <ion-button routerLink="/latcrecen" mode="ios" class="red_btn"> &nbsp;
      <img class="imgbtn" src="assets/imgs/amor.png"> &nbsp; &nbsp; 
      <span class="span">Latidos que crecen</span>
     </ion-button>
     <ion-button routerLink="/latamor" mode="ios" class="red_btn"> &nbsp;
      <img class="imgbtn" src="assets/imgs/aprenden.png"> &nbsp; &nbsp;
      <span class="span">Latidos de amor</span>
     </ion-button>
  </div>


</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>