.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-weight: bold;
  font-size: 18px;
}

.img {
  width: 25%;
}

.card {
  margin: 0;

  .multimediaCards {
    margin-top: 25px;
    box-shadow: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 200px !important;
    width: 100% !important;
    filter: brightness(0.8);
  }

  .card-title2 {
    // background: white;
    font-family: Montserrat !important;
    position: absolute;
    top: 45%;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
  }

  .card-subtitle2 {
    background: white;
    width: 100%;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 57%;
    color: black;
    text-align: center;
  }
}

.logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logosalud{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.red_btn {
  --background: var(--ion-color-main);
  height: 45px;
  width: 60%;
  --background-activated: var(--ion-color-secondary);

  .imgbtn {
    width: 10%;
    left: 0px;
    float: left;
    position: absolute;
  }

  .span {
    // margin-right: auto;
    float: left;
    position: absolute;
    left: 40px;
    font-size: 16px;
    font-family: Montserrat !important;
  }
}

.red_btn2 {
  --background: #fe5f55;
  height: 50px;
  --background-activated: #d8d8d8;
  margin-top: 30px;
  text-align: left;
}

.black {
  color: white;
}
