.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-weight: bold;
  font-size: 18px;
}

.img_avatar {
  border-radius: 50%;
  width: 30%;
  margin-top: -50px;
  margin-left: 25px;
  z-index: 1;
  position: absolute;
}

.div_header {
  margin-top: 80px;
  position: absolute;
  z-index: 2;
  width: 90%;
  height: 120px;
  background: linear-gradient(to right, #ece4df, #ebb694);
  border-radius: 0px 35px 35px 0px;

  .txt_header {
    margin-left: 50%;
    margin-top: 10px !important;
    position: absolute;
    font-family: Montserrat !important;
    color: white;
  }

  .text {
    margin-left: 185px;
    margin-top: -10px;
    position: absolute;
    font-family: Montserrat !important;
    color: #506b8c;
    font-size: 10px;
  }

  .card-title2 {
    position: absolute;
    top: 30%;
    width: 38%;
    font-weight: bold;
    color: #c3815f;
    text-align: right;
    font-family: Montserrat !important;
    font-size: 14px;
  }


  .ajustes {
    height: 25px;
    width: 25px;
    margin-left: 30px;
    margin-top: 5px;

  }

  .ajustes2 {
    background-color: rgba(245, 235, 235, 0.822);
    height: 30px;
    width: 50px;
    margin-left: 140px;
    border-radius: 8px;
  }

  .ajustes3 {
    background-color: rgba(245, 235, 235, 0.822);
    height: 30px;
    width: 50px;
    margin-left: 210px;
    border-radius: 8px;
    margin-top: -39px;
  }

  .img_avatar1 {
    height: 25px;
    width: 25px;
    margin-left: 30px;
    margin-top: 5px;

  }

  .text_info {
    position: absolute;
    top: 30%;
    width: 38%;
    font-weight: bold;
    color: #c3815f;
    text-align: right;
    font-family: Montserrat !important;

  }

  .ajustes4 {
    background-color: rgba(245, 235, 235, 0.822);
    height: 30px;
    width: 50px;
    margin-left: 280px;
    border-radius: 8px;
    margin-top: -39px;
  }

  .img_avatar2 {
    height: 25px;
    width: 27px;
    margin-left: 30px;
    margin-top: 5px;

  }

  .text_info2 {
    position: absolute;
    top: 30%;
    width: 40%;
    font-weight: bold;
    color: #c3815f;
    text-align: right;
    font-family: Montserrat !important;

  }

  .cambios {
    margin-top: 10px;
    color: #425670;
    font-family: Montserrat !important;
    font-weight: bold;
    font-size: 12px;
  }

  .descrption {
    color: #425670;
    font-family: Montserrat !important;
    font-size: 10px;
  }

  .padDiv{
    padding: 0px 30px 0px 40px;
  }

  .img_details {
    width: 200px;
    height: 150px;
  }

  .scrollmenu {
    background: linear-gradient(to right, #ece4df, #ebb694);
    white-space: nowrap;
    overflow: auto;
    border-radius: 15px;
    height: 160px;
  }

  .cardcontent {
    height: 130px;
    width: 180px;
    margin-left: 40px;
    border-radius: 15px;
  }

  .detail_cardcontent {
    height: 130px;
    width: 180px;
    margin-left: 250px;
    border-radius: 15px;
    margin-top: -140px;
  }

  .detail_cardcontent1 {
    height: 130px;
    width: 180px;
    margin-left: 350px;
    border-radius: 15px;
    margin-top: -140px;
  }

}

.slider_div {
  position: absolute;
  float: right;
  width: 90%;
  right: 0px;
  margin-top: 85%;
  border-radius: 20px;
}

.slidecss{
  background: linear-gradient(to right, #ece4df, #ebb694);
  border-radius: 20px 0px 0px 20px ;
}

.card2 {
  margin: 5px;
  height: 125px !important;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.img_details1 {
  width: 200px;
  height: 150px;
}

.red_btn{
  --background : var(--ion-color-secondary);
  height: 40px;
  width: 50%;
  --background-activated : #d8d8d8;
  margin-top: 30px;
}