<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="zoom:1.2;"></ion-back-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div_header">
    <img src="{{ data.files }}" class="img_avatar">
    <ion-label class="txt_header">{{ data.group }}</ion-label><br><br><br>
    <ion-label class="text">Activo desde {{ date }}</ion-label>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card class="ajustes2">
          <!-- <img class="ajustes" src="assets/imgs/apoyo.jpg"> -->
          <div class="card-title2">55</div>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card class="ajustes3">
          <!-- <img class="img_avatar1" src="assets/imgs/apoyo.jpg"> -->
          <div class="text_info">85</div>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card class="ajustes4">
          <!-- <img class="img_avatar2" src="assets/imgs/apoyo.jpg"> -->
          <div class="text_info2">125</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>
    <div class="padDiv">
      <p class="cambios">¡ACERCA DE {{ data.group }}!</p>
      <p class="descrption">{{ data.desc }}</p>
    </div>
  </div>

  <div class="slider_div">
    <ion-slides class="slidecss" mode="ios" pager="ios" [options]="slideOpts">
      <ion-slide>
        <ion-card class="card2" (click)="goSerie()">
          <img src="assets/imgs/girl.jpg" class="img_details1">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card2" (click)="goSerie()">
          <img src="assets/imgs/girl.jpg" class="img_details1">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card2" (click)="goSerie()">
          <img src="assets/imgs/girl.jpg" class="img_details1">
        </ion-card>
      </ion-slide>
    </ion-slides>

    <div class="ion-text-center">
      <ion-button mode="ios" class="red_btn" routerLink="/sos2">
        <ion-label class="txtlabel2">
          INGRESAR
        </ion-label>
      </ion-button>
    </div>

  </div>

</ion-content>
<ion-toolbar>
  <app-tabgroup></app-tabgroup>
</ion-toolbar>
