.position{
    margin-left: 100px;
    margin-top: 180px;
    border-radius: 15px;
   
}

.title {
    color: var(--ion-color-main);
    font-family: Montserrat !important;
    // font-weight: bold;
    font-size: 18px;
  }