<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row">
    <ion-col size="10" class="center">
      <ion-card class="position">
        <img src="assets/imgs/respuesta.PNG" class="multimediaCards">
      </ion-card>
      </ion-col>
      </ion-row>
</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>