.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.sos2{
    width: 100%;
}

.inputMen {
  width: 100%;
  --placeholder-color: rgb(112, 119, 119);
  height: 30px;
  font-size: 12px;
  margin-top: 7px;
  border-radius: 10px;
  border-color: white;
  background-color: white;
  font-family : Montserrat !important;
  color: black;
  resize: vertical;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.divBot{
  position: relative;
  bottom: 0px;
  background: #f6f8f8;
}

.colInput{
  padding: 0px 7px 7px 7px;
}

.colIcon{
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
}

.divMessage{
  position: relative;
  top: 0px;
}

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

