<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      SOS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="viewArt">
    <img src="assets/imgs/sos2.png" class="sos2">
  </div>

  <div class="ion-padding" *ngIf="!viewArt">

    <div class="message received">
      Hola! Mi nombre es Eduardo, confía en Dios, lo superarás!
    </div>

    <div class="message received">
      estamos contigo, anímate
    </div>

    <div class="message received">
      confiemos en Él
    </div>

    <div class="message sent">
      Gracias :)
    </div>

    <div class="message sent">
      En realidad necesitaba hablad de esto con alguien.
    </div>

    <div class="message received">
      Expresar nuestros problemas es el primer paso para comenzar
      a superarlos. El siguiente es confiar en Dios y en que su
      palabra tiene la salida para cualquier situación.
    </div>

    <div class="message sent">
      Creo que Dios puede ayudarme gracias por escucharme
    </div>

    <div class="message sent">
      Ore por mi xfa!
    </div>

    <div class="message sent">
      nuestra familia necesita mucha ayuda, buscaremos a Dios.
    </div>
    <br>

  </div>

</ion-content>
<ion-footer>
  <div class="divBot">
    <ion-row>
      <ion-col size="10" class="colInput">
        <ion-input class="inputMen" [(ngModel)]="comentario" placeholder="Cuéntanos un poco acerca de tu situación...">
        </ion-input>
      </ion-col>
      <ion-col size="2" class="colIcon">
        <ion-icon (click)="send()" name="send" color="primary" style="zoom:1.8;"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <ion-toolbar>
    <app-tabsos></app-tabsos>
  </ion-toolbar>

</ion-footer>
