<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS DE AMOR
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon style="zoom:1.5;" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="7">
            <ion-label class="headerLabel"> Omar López </ion-label>
          </ion-col>
          <ion-col size="5">
            <div class="divHeader">
              <img class="imgs" src="assets/imgs/amor1-blue.png"> &nbsp;
              <img class="imgs2" src="assets/imgs/amor2-blue.png"> &nbsp; &nbsp;
              <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ayer tuve la oportunidad de reunirme otra vez con Ludin,
                        estamos estudiando el libro de Juan, aún tiene muchas dudas
                        sobre la vida de Cristo, pero hemos proresado. El sábado
                        Ludín quiere que llegue a compartir la biblia con su familia.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <img class="imgs" src="assets/imgs/amor1-blue.png"> &nbsp;
                      <img class="imgs2" src="assets/imgs/amor2-blue.png"> &nbsp; &nbsp;
                      <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="7">
            <ion-label class="headerLabel"> Ludin Díaz </ion-label>
          </ion-col>
          <ion-col size="5">
            <div class="divHeader">
              <img class="imgs" src="assets/imgs/amor1-blue.png"> &nbsp;
              <img class="imgs2" src="assets/imgs/amor2-blue.png"> &nbsp; &nbsp;
              <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ayer tuve la oportunidad de reunirme otra vez con Ludin,
                        estamos estudiando el libro de Juan, aún tiene muchas dudas
                        sobre la vida de Cristo, pero hemos proresado. El sábado
                        Ludín quiere que llegue a compartir la biblia con su familia.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <img class="imgs" src="assets/imgs/amor1-blue.png"> &nbsp;
                      <img class="imgs2" src="assets/imgs/amor2-blue.png"> &nbsp; &nbsp;
                      <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="7">
            <ion-label class="headerLabel"> Katherin Vargas </ion-label>
          </ion-col>
          <ion-col size="5">
            <div class="divHeader">
              <img class="imgs" src="assets/imgs/amor1-gray.png"> &nbsp;
              <img class="imgs2" src="assets/imgs/amor2-gray.png"> &nbsp; &nbsp;
              <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ayer tuve la oportunidad de reunirme otra vez con Ludin,
                        estamos estudiando el libro de Juan, aún tiene muchas dudas
                        sobre la vida de Cristo, pero hemos proresado. El sábado
                        Ludín quiere que llegue a compartir la biblia con su familia.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <img class="imgs" src="assets/imgs/amor1-gray.png"> &nbsp;
                      <img class="imgs2" src="assets/imgs/amor2-gray.png"> &nbsp; &nbsp;
                      <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <div>
    <div class="segment">
      <ion-label class="dateSegment">
       Sábado 24 de Diciembre del 2021
      </ion-label>
    </div>
  </div>
  
  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="7">
            <ion-label class="headerLabel"> Wilson Guerra </ion-label>
          </ion-col>
          <ion-col size="5">
            <div class="divHeader">
              <img class="imgs" src="assets/imgs/amor1-gray.png"> &nbsp;
              <img class="imgs2" src="assets/imgs/amor2-gray.png"> &nbsp; &nbsp;
              <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ayer tuve la oportunidad de reunirme otra vez con Ludin,
                        estamos estudiando el libro de Juan, aún tiene muchas dudas
                        sobre la vida de Cristo, pero hemos proresado. El sábado
                        Ludín quiere que llegue a compartir la biblia con su familia.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <img class="imgs" src="assets/imgs/amor1-gray.png"> &nbsp;
                      <img class="imgs2" src="assets/imgs/amor2-gray.png"> &nbsp; &nbsp;
                      <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="7">
            <ion-label class="headerLabel"> Walter Díaz </ion-label>
          </ion-col>
          <ion-col size="5">
            <div class="divHeader">
              <img class="imgs" src="assets/imgs/amor1-blue.png"> &nbsp;
              <img class="imgs2" src="assets/imgs/amor2-gray.png"> &nbsp; &nbsp;
              <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ayer tuve la oportunidad de reunirme otra vez con Ludin,
                        estamos estudiando el libro de Juan, aún tiene muchas dudas
                        sobre la vida de Cristo, pero hemos proresado. El sábado
                        Ludín quiere que llegue a compartir la biblia con su familia.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <img class="imgs" src="assets/imgs/amor1-blue.png"> &nbsp;
                      <img class="imgs2" src="assets/imgs/amor2-gray.png"> &nbsp; &nbsp;
                      <img class="imgs2" src="assets/imgs/amor3-gray.png"> 
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
