.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.sos1 {
  // float: right;
  margin-left: 60%;
  width: 30%;
}

.sos2{
  // float: left;
  // margin-left: 10%;
  width: 45%;
}

.txtheader{
  font-weight: bold;
  font-size: 24px;
}

.txtlabel{
  color: var(--ion-color-main);
  font-family : Montserrat !important;
  font-size: 14px;
  float: right;
  // display: block;
}

.txtlabelsos{
  color: var(--ion-color-main);
  font-family : Montserrat-bold !important;
  font-size: 14px;
  display: block;
}

.txtlabel3{
  color: var(--ion-color-main);
  font-size: 12px;
  font-family : Montserrat !important;
}

.txtlabel2{
  color: white;
  font-weight: 500;
  font-family : Montserrat !important;
  font-size: 14px;
}

.red_btn{
  --background : var(--ion-color-main);
  height: 40px;
  width: 50%;
  --background-activated : #d8d8d8;
  margin-top: 30px;
}

.check{
  --background : white;
  color: white;
}

.inputMen {
  width: 100%;
  --placeholder-color: rgb(171, 173, 173);
  height: 30px;
  font-size: 12px;
  margin-top: 7px;
  border-radius: 10px;
  border-color: white;
  background-color: white;
  font-family : Montserrat !important;
  color: black;
  resize: vertical;
}
textarea::-webkit-input-placeholder {
  color: rgb(176, 180, 182);
}

.textareacss{
  padding: 0px 40px 0px 40px;
}