<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      SOS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <!-- <img src="assets/imgs/ayuda1.png" class="sos1"> -->
  </div>
  <br><br><br><br>
  <div class="ion-text-center">
    <img src="assets/imgs/sos.png" class="sos2">
    <ion-label class="txtlabelsos">
      S.O.S.
    </ion-label>
  </div>
  <br>
  <div class="ion-text-center">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        <ion-label class="txtlabel">
          Identidad privada
        </ion-label>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <div class="ion-text-center">
    <ion-label class="txtlabel3"> ¡No estás solo. Esta es solo una prueba más </ion-label> <br>
    <ion-label class="txtlabel3"> que vas a superar con la ayuda de Dios! </ion-label> <br> <br>
    <ion-label class="txtlabel3"> ¡En breve alguien estará contigo! </ion-label> <br>
  </div>
  <br>
  <div class="textareacss">
    <!-- <textarea class="inputMen" [(ngModel)]="comentario" name="comentarios"
      placeholder="Cuéntanos un poco acerca de tu situación..."> </textarea> -->
      <ion-input class="inputMen" [(ngModel)]="comentario" placeholder="Cuéntanos un poco acerca de tu situación..."> </ion-input>
  </div>

  <div class="ion-text-center">
    <ion-button mode="ios" class="red_btn" routerLink="/sos2">
      <ion-label class="txtlabel2">
        Enviar S.O.S
      </ion-label>
    </ion-button>
  </div>

</ion-content>

<ion-toolbar>
  <app-tabsos></app-tabsos>
</ion-toolbar>
