.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-weight: bold;
  font-size: 18px;
}

.row {
  height: 250px !important;
  width: 200px !important;
  margin-left: 125px;
  margin-top: 10px;
}

.color {
  color: #657c95;
  font-weight: bold;
  font-size: 15;
}

.tamaño {
  font-size: 10px;
  color: #c3815f;
  font-family: Montserrat;
}

.cardcontent {
  border-radius: 250px;
}

.ajustes {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.ajustes2 {
  background-color: white;
  border-radius: 20px;
  height: 75px;
  width: 190px;
}

.card-title2 {
  position: absolute;
  top: 30%;
  width: 58%;
  font-weight: bold;
  color: #c3815f;
  text-align: right;
  font-family: Montserrat !important;
  font-size: 12px;
}

.card-title {
  position: absolute;
  top: 52%;
  width: 98%;
  font-size: 10px;
  font-weight: bold;
  color: #657c95;
  font-family: Montserrat !important;
  left: 34%;
}

.card-title1 {
  position: absolute;
  top: 52%;
  width: 58%;
  font-weight: bold;
  font-family: Montserrat !important;
  color: #657c95;
  left: 50%;
}

.card-title3 {
  position: absolute;
  top: 52%;
  width: 71%;
  font-weight: bold;
  text-align: right;
  font-family: Montserrat !important;
  color: #657c95;
}

.card-title4 {
  position: absolute;
  top: 52%;
  width: 80%;
  font-weight: bold;
  text-align: right;
  font-family: Montserrat !important;
  color: #657c95;
}

.card-title5 {
  position: absolute;
  top: 30%;
  width: 50%;
  font-weight: bold;
  color: #c3815f;
  text-align: right;
  font-family: Montserrat !important;
}

.position {
  position: absolute;
  top: 30%;
  width: 46%;
  font-weight: bold;
  text-align: right;
  font-family: "Montserrat" !important;
  color: #c3815f;
}

.position2 {
  position: absolute;
  top: 30%;
  width: 47%;
  font-weight: bold;
  text-align: right;
  font-family: Montserrat !important;
  color: #c3815f;
}
