<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <p class="color">Samanta Sandoval</p>
    <p class="tamaño">Se unió en Junio del 2021</p>
  </div>
  <ion-row class="row">
    <ion-col size="10" class="center">
      <ion-card class="cardcontent">
        <img src="assets/imgs/user.png" class="multimediaCards">
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="ajustes2">
        <img class="ajustes" src="assets/imgs/Claman.PNG">
        <div class="card-title2">100 pts</div>
        <div class="card-title">Latidos que Claman</div>
      </ion-card>

    </ion-col>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="ajustes2">
        <img class="ajustes" src="assets/imgs/Fé.PNG">
        <div class="card-title2">100 pts</div>
        <div class="card-title">Latidos de fé</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <ion-card class="ajustes2">
        <img class="ajustes" src="assets/imgs/Aprender.PNG">
        <div class="card-title2">100 pts</div>
        <div class="card-title">Latidos que aprenden</div>
      </ion-card>
    </ion-col>

    <ion-col size="6" class="ion-no-padding">
      <ion-card class="ajustes2">
        <img class="ajustes" src="assets/imgs/Love.PNG">
        <div class="card-title2">100 pts</div>
        <div class="card-title">Latidos de amor</div>
      </ion-card>
    </ion-col>
  </ion-row>




</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
