<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS QUE ADORAN
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="padd ion-text-center">
    <img class="logosalud" src="assets/imgs/adora4.png">
    <br>
    <br>
    <ion-row>
      <ion-col size="2" class="ion-no-padding">
        <ion-label class="labelDay">{{time.days}}</ion-label> <br>
        <ion-label class="dayLabel"> DÍAS </ion-label>
      </ion-col>
      <ion-col size="1" class="ion-no-padding">
        <ion-label class="labelDay">:</ion-label> <br>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ion-label class="labelDay"> {{time.hours}} </ion-label><br>
        <ion-label class="dayLabel"> HORAS </ion-label>
      </ion-col>
      <ion-col size="1" class="ion-no-padding">
        <ion-label class="labelDay">:</ion-label> <br>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ion-label class="labelDay"> {{time.minutes}} </ion-label><br>
        <ion-label class="dayLabel"> MINUTOS </ion-label>
      </ion-col>
      <ion-col size="1" class="ion-no-padding">
        <ion-label class="labelDay">:</ion-label> <br>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <ion-label class="labelDay"> {{time.seconds}} </ion-label><br>
        <ion-label class="dayLabel"> SEGUNDOS </ion-label>
      </ion-col>
    </ion-row>

    <br>
    <br>

    <ion-label class="label">
      ¡Examinaos a vosotros mismos para comprobar si aún estais
      en la fe!
    </ion-label>
    <br><br>
    <ion-label class="label">
      ¡Te invitamos a estar pendiente de la próxima autoevaluación
      y así continuar creciendo en la fé que es en Cristo Jesús y
      en la adoración a nuestro Dios!
    </ion-label>
    <br> <br>
    <div class="ion-text-center">
      <ion-icon routerLink="/home" style="zoom:2.2;" color="primary" name="chevron-forward-circle"></ion-icon>
    </div>

  </div>
</ion-content>

<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
