.padd {
  padding: 40px 45px 15px 45px;
}

.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.logosalud {
  width: 330px;
  display: block;
  margin: auto;
}

.label {
  font-size: 13px;
  font-family: Montserrat !important;
  color: var(--ion-color-main);
}



.labelDay {
  // position: absolute;
  font-size: 30px;
  font-family: Montserrat-italic !important;
  color: var(--ion-color-main);
  margin-top: 18px;
  font-style: oblique;
}

.dayLabel{
  font-size: 7px;
  font-family: Montserrat !important;
  color: var(--ion-color-main);
  // margin-top: 18px;
}