<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS QUE ADORAN
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padd">
    <img class="logosalud" src="assets/imgs/adora3.png">
    <br>
    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          ¿Mi tiempo devocional con Dios fue un deleite
          una desesperación?
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Cada vez que leo la Biblia ¿Lo hago con emocion
          o solo por cumplir?
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Mi anhelo por vivir una vida santa, ¿Está basado en el 
          miedo a pecar o en deseo profundo de agradar a Dios?
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Anhelo escuchar la Palabra de Dios por que me gusta
          que Dios me hable.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="10">
        <ion-label class="label">
          Escucho y canto alabanzas para llenar mi vida de Dios
          o para entretenerme.
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
      </ion-col>
    </ion-row>

    <br>
    <div class="ion-text-center">
      <ion-icon routerLink="/latadoran4" style="zoom:2.2;" color="primary" name="chevron-forward-circle"></ion-icon>
    </div>
  </div>
</ion-content>

<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
