<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      ESTUDIO SEMANAL
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardContent">

    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-label class="headerLabel"> asd </ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="txtLabel">
            Te sorprenderá saber que siempre hay alguien mas cerca de ti. Aunque
            no se sienta asi.
            <span class="ion-text-left">Haz click aquí para descubrir más acerca de esta
              emocionante verdad.</span>
          </ion-label>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">

          <table class="egt">
            <tr>
              <th class="thClass1">
                <div class="horizontalLine">
                </div>
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="5" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        En el estudio de hoy, Kenny Chacón nos llevará a
                        comprender,através de la Palabra, el hecho que si bien,
                        es importante cumplir nuestro propósito aqui en la
                        Tierra y ser discipulos obdedientes y activos,
                        todo esto solo se puede lograr con un cora­zón
                        puro y esto es lo que realmente busca Dios de nosotros,
                        recuerda que al final la Biblia dice:
                        Dichosos los de corazón limpio, porque ellos
                        verán a Dios.
                      </div>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6" class="colCss">
                    <div class="verticalLine">
                    </div>
                    <img src="assets/tempres/man.jpeg" class="avatarm"> <br>
                    <ion-label class="headerLabel2">
                      Acerca del autor,
                    </ion-label> <br>
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Kenny Chacón es un apasionado por Dios, crear contenido,
                        predicar a Jesús y también el café negro sin azúcar.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.5;" color="primary" name="cloud-download-outline"></ion-icon> &nbsp;
                      <ion-icon style="zoom:1.5;" color="primary" name="share-social"></ion-icon> &nbsp;
                      <ion-icon style="zoom:1.5;" color="primary" name="arrow-forward"></ion-icon>
                    </div>

                  </ion-col>
                </ion-row>
              </th>
            </tr>
          </table>

        </div>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-toolbar>
  <app-tabweek></app-tabweek>
</ion-toolbar>
