<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      VIDEOS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" (click)="goVideo()">
    <img src="assets/tempres/vid2.jpg" class="multimediaCards">
    <div class="card-title2">NO TODO ESTÁ PERDIDO</div>
  </ion-card>

  <!-- <ion-card class="card" (click)="goVideo()">
    <img src="assets/tempres/vid2.jpg" class="multimediaCards">
    <div class="card-title2">CONQUISTA TU MONTE</div>
  </ion-card> -->

  <ion-card class="card" (click)="goVideo()">
    <img src="assets/tempres/vid1.jpg" class="multimediaCards">
    <div class="card-title2">A LAS BRAZAS</div>
  </ion-card>

  <ion-card class="card" (click)="goVideo()">
    <img src="assets/tempres/vid6.jpg" class="multimediaCards">
    <div class="card-title2">EL AGUA DE LA VIDA</div>
  </ion-card>

  <ion-card class="card" (click)="goVideo()">
    <img src="assets/tempres/vid5.jpg" class="multimediaCards">
    <div class="card-title2">EN LA CRUZ</div>
  </ion-card>

  <ion-card class="card" (click)="goVideo()">
    <img src="assets/tempres/vid4.jpg" class="multimediaCards">
    <div class="card-title2">HASTA EL FONDO</div>
  </ion-card>


</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>