.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.card {
  margin: 0;

  .multimediaCards {
    margin-top: 25px;
    box-shadow: 0 !important;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    height: 115px !important;
    width: 100% !important;
    border-radius: 10px;
    filter: brightness(0.8);
  }

  .card-title2 {
    // background: white;
    font-family: Montserrat-bold !important;
    position: absolute;
    top: 45%;
    font-size: 20px;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
  }

  .card-subtitle2 {
    background: white;
    width: 100%;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 57%;
    color: black;
    text-align: center;
  }
}