<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-card class="ajustes2">
        <div class="card-title2">Podcast</div>
        <div class="card-title">Latidos de Amor</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download-sharp"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social-sharp"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row> -->

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>