.title {
    color: var(--ion-color-main);
    font-family: Montserrat !important;
    // font-weight: bold;
    font-size: 18px;
  }

.ajustes2{
background-color: white;
border-radius: 20px;
height: 60px;
margin-top: 2px;
}
    
.card-title {
position: absolute;
top: 52%;
width: 49%;
font-weight: bold;
color: black;
text-align:right;
font-family: "Montserrat" !important;
color: #506b8c;              
}        

.card-title2 {
position: absolute;
top: 30%;
width: 34%;
font-weight: bold;
color: #d28b5f;
text-align:right;
font-family: Montserrat !important;
        
}

.ajustes3{
height: 50px;
width: 25px;
margin-left: 230px;
margin-top: 2%;
color: #425670;
              
}
  
.ajustes4{
height: 50px;
width: 25px;
color: #425670;
             
}
    
.ajustes5{
height: 50px;
width: 25px;
color: #425670;
                  
}