.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.avatarm {
  // height: 110px;
  width: 110px;
  // border: 2px solid var(--ion-color-main);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 5px 5px 5px rgb(129, 125, 125);

}

.label{
  // display: inline-block;
  color: var(--ion-color-main);
  font-weight: 200;
  font-size: 14px;
  font-family: Montserrat !important;
}
