<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      GRUPOS
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar (ionChange)="buscar($event)" color="light" placeholder="Busca un grupo" showCancelButton="focus" mode="ios">
  </ion-searchbar>
  <br>
  <ion-row>
    <ion-col size="4" *ngFor="let group of grupos">
      <img src="{{ group.files }}" class="avatarm" (click)="goNext(group)">
      <div class="ion-text-center">
        <ion-label class="label">{{ group.group }}</ion-label>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
<ion-toolbar>
  <app-tabgroup></app-tabgroup>
</ion-toolbar>
