<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS QUE ADORAN
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="padd">

  <img class="logosalud" src="assets/imgs/adora1.png"> 

  <ion-range 
  [ngClass]="{'rojo': rojo1, 'amarillo': amarillo1, 'verde': verde1}" 
  mode="ios" 
  pin="true" 
  class="range1"
  (ionChange)="change1($event)"></ion-range>

  <div class="ion-text-center div">
    <ion-label class="segment">
      Cuando la oportunidad se presentó
      antepuse mis deseos por el bien de otros.
     </ion-label>
  </div>

  <ion-range 
  [ngClass]="{'rojo': rojo2, 'amarillo': amarillo2, 'verde': verde2}" 
  mode="ios" 
  pin="true" 
  class="range1"
  (ionChange)="change2($event)"></ion-range>

  <div class="ion-text-center div">
    <ion-label class="segment">
      Mi compromiso con La Causa y La Gran Comisión
      nuevamente formaron parte principal de mis planes.
     </ion-label>
  </div>

  <ion-range 
  [ngClass]="{'rojo': rojo3, 'amarillo': amarillo3, 'verde': verde3}" 
  mode="ios" 
  pin="true" 
  class="range1"
  (ionChange)="change3($event)"></ion-range>

  <div class="ion-text-center div">
    <ion-label class="segment">
      Me esforcé por que mis decisiones, impulsos
      y reacciones fueran como las de Cristo.
     </ion-label>
  </div>
  <br>
  <br>
  <div class="ion-text-center">
    <ion-icon routerLink="/latadoran2" style="zoom:2.2;" color="primary" name="chevron-forward-circle"></ion-icon>
  </div>

</div>

</ion-content>

<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
