.padd{
  padding: 0px 15px 15px 15px;
}

.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.logosalud {
  width: 255px;
  display: block;
  margin: auto;
}

ion-range.range1 {
  --knob-background: rgb(187, 170, 170);
  --bar-height: 17px;
  --bar-border-radius: 15px;
  --knob-size: 35px;
  padding: 0px 50px 0px 50px;
  --knob-box-shadow: rgb(128, 126, 126);
}

.div{
  padding: 0px 50px 0px 50px;
}

.rojo {
  --bar-background: #d5232c;
  --bar-background-active: #d5232c;
}

.amarillo {
  --bar-background: #e7a508;
  --bar-background-active: #e7a508;
}

.verde {
  --bar-background: #3cb90d;
  --bar-background-active: #3cb90d;
}

.segment{
  font-size: 13px;
  font-family: Montserrat !important;
  color: var(--ion-color-main);
}