<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="zoom:1.2;"></ion-back-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      PODCAST
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="6" class="col" *ngFor="let podcast of podcasts">
      <ion-card class="card" (click)="goPodcast(podcast)">
        <img src="{{ podcast.files[0].path }}" class="multimediaCards" (click)="goPodcast()">
        <div class="{{ podcast.typeFont }}">{{ podcast.name }}</div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>