.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  // font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.card {
    margin: 0;
    border-radius: 10px;
    height: 180px !important;
  
    .multimediaCards {
      // margin-top: 25px;
      box-shadow: 0 !important;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      height: 100% !important;
      width: 100% !important;
      // filter:brightness(0.8);
    }
  
    .card-title2 {
      font-family: Montserrat !important;
      position: absolute;
      top: 85%;
      margin-left: 10px;
      font-size: 16px;
      width: 100%;
      color: white;
      text-align: center;
      align-items: center;
    }

    .Blanco {
      font-family: Montserrat !important;
      position: absolute;
      top: 85%;
      margin-left: 10px;
      font-size: 16px;
      width: 100%;
      color: white;
      text-align: center;
      align-items: center;
    }

    .Negro {
      font-family: Montserrat !important;
      position: absolute;
      top: 85%;
      margin-left: 10px;
      font-size: 16px;
      width: 100%;
      color: black;
      text-align: center;
      align-items: center;
    }
  
    .card-black {
      font-family: Montserrat !important;
      position: absolute;
      top: 85%;
      // margin-left: 10px;
      font-size: 16px;
      width: 100%;
      color: black;
      text-align: center;
      align-items: center;
    }
  
    .card-subtitle2 {
      background: white;
      width: 100%;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      top: 57%;
      color: black;
      text-align: center;
    }
  }

  .col {
    padding: 5px;
  }