.title {
  color: var(--ion-color-main);
  font-family: Montserrat !important;
  font-weight: 100;
  font-size: 18px;
}

.accordionWrapper {
  padding: 0px;
  background: #fff;
  float: left;
  width: 80%;
  box-sizing: border-box;
  margin: 15%;
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionItem {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open-sans', Arial, sans-serif;
}

.accordionItemHeading2 {
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  background: #f1f4f5;
  color: #000000;
  width: 100%;
  height: 95px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
}

.accordionItemHeading2 {
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  background: #f1f4f5;
  color: #000000;
  width: 100%;
  height: 305px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: center;
  display: block;

}

.open .accordionItemContent {
  padding: 0px;
  background-color: #eaf4f6;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.open .accordionItemHeading {
  margin: 0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #eaf4f6;
  color: #000000;
}

.acordion {
  padding: 0px;
}

.card-header {
  background-color: #D5DADD;
  color: #000000;
}

.cardContent {
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 14px 0px rgb(167, 164, 164);
}

.headerLabel {
  color: var(--ion-color-main);
  font-size: 15px;
  float: left;
  margin: 0px 0px 0px 20px;
  font-family: Montserrat-bold !important;
  margin: 10px 20px 0px 20px;
}

.txtLabel {
  color: var(--ion-color-main);
  font-size: 13px;
  font-family: Montserrat !important;
  margin: 0px 20px 0px 20px;

  span.ion-text-left {
    margin-right: auto;
    font-size: 13px;
    // font-weight: bold;
    font-family: Montserrat-bold !important;
  }
}

.thClass1 {
  text-align: left;
}

.divJustify {
  // text-align: justify;
}

.txtLabel2 {
  color: var(--ion-color-main);
  font-size: 13px;
  font-family: Montserrat !important;
  margin: 0px 20px 0px 20px;

  span.ion-text-left {
    margin-right: auto;
    font-size: 13px;
    // font-weight: bold;
    font-family: Montserrat-bold !important;
  }
}

.verticalLine {
  width: 2px;
  background-color: var(--ion-color-main);
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
  height: 80%;
  float: left;
}

.horizontalLine {
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  width: 90%;
  background-color: var(--ion-color-main);
  // position: absolute;
}

.avatarm {
  width: 40%;
  border: 1px solid var(--ion-color-main);
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  // margin-left: 32%;
  // margin-right: 30%;
}

.headerLabel2 {
  color: var(--ion-color-main);
  font-size: 10px;
  font-family: Montserrat-bold !important;
  padding: 0px;
}

.colCss {
  padding: 0px 25px 0px 0px;
}

.footerIcons {
  float: right;
  margin-left: 80%;
  margin-bottom: 10px;
}

.icon-check {
  width: 30%;
}

.icon-check2 {
  width: 20%;
}

.divFooter {
  margin-top: 200px;
}
