<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS QUE CLAMAN
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon style="zoom:1.5;" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9" class="ion-no-padding">
            <ion-label class="headerLabel">Que mi papá conozca a Jesús </ion-label>
          </ion-col>
          <ion-col size="3" class="ion-no-padding">
              <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
              <img class="icon-check2" src="assets/imgs/check.png">
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ya pasaron 6 meses desde que me gradué y no he conseguido
                        trabajo, estoy algo impaciente por esto.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                      <img class="icon-check" src="assets/imgs/check.png">
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9" class="ion-no-padding">
            <ion-label class="headerLabel">Mi vida sentimental </ion-label>
          </ion-col>
          <ion-col size="3" class="ion-no-padding">
              <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
              <img class="icon-check2" src="assets/imgs/check.png">
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ayer hablé con Alejandra y pronto tendremos una cita, creo
                        que todo va muy bien.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                      <img class="icon-check" src="assets/imgs/check.png">
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9" class="ion-no-padding">
            <ion-label class="headerLabel">Conseguir trabajo </ion-label>
          </ion-col>
          <ion-col size="3" class="ion-no-padding">
              <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
              <img class="icon-check2" src="assets/imgs/check.png">
          </ion-col>
          
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ya pasaron 6 meses desde que me gradué y no he conseguido
                        trabajo, estoy algo impaciente con esto.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                      <img class="icon-check" src="assets/imgs/check.png">
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9" class="ion-no-padding">
            <ion-label class="headerLabel">Problemas familiares </ion-label>
          </ion-col>
          <ion-col size="3" class="ion-no-padding">
              <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
              <img class="icon-check2" src="assets/imgs/check.png">
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Ultimamente en mi casa han habido muchas peleas, con mis hermanos
                        no sabemos que hacer, espero que ya no sigan asi.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                      <img class="icon-check" src="assets/imgs/check.png">
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9" class="ion-no-padding">
            <ion-label class="headerLabel">La familia misionera en india </ion-label>
          </ion-col>
          <ion-col size="3" class="ion-no-padding">
              <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
              <img class="icon-check2" src="assets/imgs/check.png">
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Hace dos semanas mi hermano se fue de misionero a la India,
                        todos los dias oro para que no les pase nada.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                      <img class="icon-check" src="assets/imgs/check.png">
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading2">
          <div class="divFooter ion-text-center">
            <ion-button color="secondary" shape="round"><ion-icon color="light" name="stop"></ion-icon></ion-button>
            &nbsp;
            <ion-button color="secondary" shape="round"><ion-icon color="light" name="play"></ion-icon></ion-button>
            <br> <br>
            <ion-label class="txtLabel2">
              Último látido Lunes 03 de Enero 2021 - 45 minutos
            </ion-label>
          </div>
      </ion-card-header>
    </div>
  </ion-card>

  <ion-toolbar>
    <app-tabuser></app-tabuser>
  </ion-toolbar>

</ion-footer>
