<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="zoom:1.2;"></ion-back-button>
      <!-- <ion-icon name="menu-outline" color="light" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      UN CORAZÓN MÁS
    </ion-title>
    <ion-buttons slot="end" class="card">
      <ion-button (click)="goWeekly()">
        <ion-icon name="file-tray-full-outline" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card">
  <div class="div_header">
    <img src="{{imgPodcast}}" class="img_avatar"><br><br>
    <label class="text_header">{{ data.name }}</label> <br>
    <label class="subtitle">{{length}} podcasts para disfrutar! </label>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="padDiv">
    <p class="change">¡ACERCA DEL PODSCAST!</p>
    <p class="descrption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestias distinctio placeat
      inventore, sint illum ut sequi dolores officia quae blanditiis! Tempora ipsum, sequi laborum distinctio et earum?
      Quas magni molestias dolore laudantium cumque repudiandae dolorem alias soluta quod vel, quis modi, molestiae
      itaque. Cum adipisci ea rem ipsam fugit.</p> 
  </div>

  <ion-row>
    <ion-col size="12" class="card" *ngFor="let audio of files">
      <ion-card mode="ios" class="ajustes2">
        <ion-icon class="ajustes" mode="ios" name="play"></ion-icon> &nbsp;
        <div class="card-title2">Podcast</div>
        <div class="card-title">{{ data.name }}</div>
        <ion-icon class="ajustes3" mode="ios" name="eye-outline"></ion-icon> &nbsp;
        <ion-icon class="ajustes4" mode="ios" name="download"></ion-icon> &nbsp;
        <ion-icon class="ajustes5" mode="ios" name="share-social"></ion-icon> &nbsp;
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>


<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
