.title {
    color: var(--ion-color-main);
    font-family: Montserrat !important;
    // font-weight: bold;
    font-size: 18px;
  }
  
  
  .text_header {
    margin-left: 55%;
    color: white;
    font-family: Montserrat !important;
    font-size: 12px;
    font-weight: bold;
  }
  
  .subtitle {
    margin-left: 46%;
    color: white;
    font-family: Montserrat !important;
    font-size: 10px;
  }
  
  .ajustes {
    column-count: blue;
    height: 60px;
    width: 35px;
    margin-left: 8px;
    color: #425670;
  
  }
  
  .ajustes2 {
    background-color: white;
    border-radius: 20px;
    height: 55px;
    margin-top: 2px;
  }
  
  .card{
    padding: 0px 15px 0px 15px;
  }
  
  .ajustes3 {
    height: 60px;
    width: 25px;
    margin-left: 50%;
    top: 5%;
    color: #425670;
  }
  
  .ajustes4 {
    height: 60px;
    width: 25px;
    color: #425670;
  
  }
  
  .ajustes5 {
    height: 60px;
    width: 25px;
    color: #425670;
    margin-right: 1px;
  }
  
  
  
  
  
  .card-title {
    position: absolute;
    top: 52%;
    width: 50%;
    font-weight: bold;
    color: black;
    text-align: right;
    font-family: Montserrat !important;
    color: #506b8c;
  }
  
  
  .card-title2 {
    position: absolute;
    top: 30%;
    width: 28%;
    font-weight: bold;
    color: #d28b5f;
    text-align: right;
    font-family: Montserrat !important;
  }
  
  .change {
    color: #425670;
    font-family: Montserrat !important;
    font-weight: bold;
    font-size: 12px;
  }
  
  .descrption{
    color: #425670;
    font-family: Montserrat !important;
    font-size: 10px;
  }
  
  .padDiv{
    padding: 0px 30px 40px 40px;
  }
  
  .img_avatar {
    border-radius: 50%;
    width: 30%;
    margin-top: -50px;
    margin-left: 25px;
    z-index: 1;
    position: absolute;
  }
  
  .div_header {
    margin-top: 80px;
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 100px;
    background: linear-gradient(to right, #8c9daf, #425670);
    border-radius: 0px 35px 35px 0px;
  
  }
  