<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS DE FÉ
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon style="zoom:1.5;" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9">
            <ion-label class="headerLabel"> Colaboré con los bomberos </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Realicé una donación camino a casa, el bombero estaba sobre
                        la calzada principal.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <div>
    <div class="segment">
      <ion-label class="dateSegment">
       Domingo 24 de Septiembre del 2021
      </ion-label>
    </div>
  </div>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9">
            <ion-label class="headerLabel"> Mi vecino perdió su empleo </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Le compraré una bolsa de viveres ya que tiene hijos
                        pequeños que necesitan alimentarse.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <div>
    <div class="segment">
      <ion-label class="dateSegment">
       Sábado 24 de Diciembre del 2021
      </ion-label>
    </div>
  </div>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9">
            <ion-label class="headerLabel"> Le presté mi cámara a Hans </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Hanz me pidió que le prestara mi camára mañana para
                        realizar un trabajo de la Universidad.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9">
            <ion-label class="headerLabel"> Ayudé a mi vecino </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Le compraré una bolsa de viveres ya que tiene hijos
                        pequeños que necesitan alimentarse.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="9">
            <ion-label class="headerLabel"> Recoger la basura </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        Le compraré una bolsa de viveres ya que tiene hijos
                        pequeños que necesitan alimentarse.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-toggle mode="ios" color="primary" class="ion-no-padding"></ion-toggle>
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
