<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="zoom:1.2;"></ion-menu-button>
      <!-- <ion-icon name="menu-outline" style="zoom:1.7;"></ion-icon> -->
    </ion-buttons>
    <ion-title class="title ion-text-center">
      LÁTIDOS QUE CRECEN
    </ion-title>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button (click)="goWeekly()">
        <ion-icon style="zoom:1.5;" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="10" class="ion-no-padding">
            <ion-label class="headerLabel">A pelear </ion-label>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        ¿Sientes esa extraña sensación que algo no anda bien?
                        Tu alerta se encendió. Escucha... Seguramente Dios
                        está alertandote sobre algo.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <div>
    <div class="segment">
      <ion-label class="dateSegment">
        Domingo 24 de Septiembre del 2021
      </ion-label>
    </div>
  </div>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="10" class="ion-no-padding">
            <ion-label class="headerLabel">Vestid la armadura </ion-label>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        ¿Sientes esa extraña sensación que algo no anda bien?
                        Tu alerta se encendió. Escucha... Seguramente Dios
                        está alertandote sobre algo.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="10" class="ion-no-padding">
            <ion-label class="headerLabel">Toma tu cruz </ion-label>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        ¿Sientes esa extraña sensación que algo no anda bien?
                        Tu alerta se encendió. Escucha... Seguramente Dios
                        está alertandote sobre algo.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card class="cardContent">
    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="10" class="ion-no-padding">
            <ion-label class="headerLabel">David y el enano</ion-label>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">
          <table class="egt">
            <tr>
              <th class="thClass1">
                <ion-row>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-label class="txtLabel2">
                      <div class="divJustify">
                        ¿Sientes esa extraña sensación que algo no anda bien?
                        Tu alerta se encendió. Escucha... Seguramente Dios
                        está alertandote sobre algo.
                      </div>
                    </ion-label>
                    <br>
                    <div class="footerIcons">
                      <ion-icon style="zoom:1.8;" color="primary" name="share-social"></ion-icon> &nbsp;
                    </div>
                  </ion-col>
                  <ion-col size="1" class="ion-no-padding"></ion-col>
                </ion-row>
              </th>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
<ion-toolbar>
  <app-tabuser></app-tabuser>
</ion-toolbar>
